@import "tailwindcss";

:root {
  --main-color: #ec5f1e;
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in {
  animation: fade-in 0.5s ease-in-out;
}

@keyframes pop {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.4);
  }
  100% {
    transform: scale(1);
  }
}
.animate-pop {
  animation: pop 0.3s ease-in-out;
}

button {
  @apply cursor-pointer;
}

input,
textarea {
  @apply border;
}

#contact-form input,
#contact-form textarea {
  @apply pl-2 py-3 rounded border-[#d3d5d8] outline-[#ea580b];
}
